<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Library</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
         margin-left: 1%;
         padding: 1%;
        }
        .checkbox {
            margin-left: 3%;
        }
        h1, h2 {
            color: black;
        }
        a {
            color: blue;
        }
    </style>
</head>
<body>

<nav th:fragment="navigation">
    <a href="/library">Book List</a> |
    <a href="/library/add">Add Book</a> |
    <a href="/library/remove">Remove Book</a>
</nav>

</body>
</html>